body {margin: 0;}

.CodeMirror pre{
  line-height: 16px;
}

#in{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;

  overflow: auto;

  width: 50%;
  height: auto;

  box-shadow: -10px 2px 6px 10px rgba(0,0,0,0.4);

  font-size: 12px;
}

.CodeMirror {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  width: auto;
  height: auto;
}

.CodeMirror-scroll {
  box-sizing: border-box;
  padding: 30px;
}

#out{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 50%;

  overflow: auto;

  padding: 10px;
  padding-left: 20px;

  color: #333;
}

#menu {
  position: fixed;
  z-index: 99;
  top: 50%;
  left: 50%;

  display: none;

  width: 250px;
  height: 150px;
  margin-top: -75px;
  margin-left: -125px;

  text-align: center;

  color: white;
  border-radius: 5px;
  background-color: #111;
}

#menu > span {
  display: block;

  margin-top: 0.25em;

  font-size: 1.5em;
  line-height: 1.3;
}

#menu > div {
  display: inline-block;

  width: 100px;

  cursor: pointer;
  text-align: center;
  vertical-align: top;

  opacity: 0.7;
}

#menu > div:hover {
  opacity: 1;
}

#menu svg {
  display: block;

  width: 64px;
  height: 64px;
  margin: 0 auto;
}
#menu path {
  fill: #fff;
}

#close-menu {
  position: absolute;
  top: 5px;
  right: 9px;

  cursor: pointer;

  color: white;
}

.emoji {
  width: 1em;
  height: 1em;

  vertical-align: baseline;
}

@media screen and (max-width: 1024px) {
  #in {
    display: none;
  }
  #out {
    left: 0;

    padding-left: 10px;
  }
}

.cm-header-1 { font-size: 2em; }
.cm-header-2 { font-size: 1.75em; }
.cm-header-3 { font-size: 1.5em; }
.cm-header-4 { font-size: 1.3em; }
.cm-header-5 { font-size: 1.2em; }
.cm-header-6 { font-size: 1.15em; }

.cm-quote { color: #90a959; font-style: italic; }

.view #in {
  display: none;
}
.view #out {
  left: 0;

  padding-left: 10px;
}

#cover h2 {
    margin:30px 0 0;
    color:#FFF;
    text-align:center;
    font-size:70px;
    }
#cover p {
    margin:10px 0 0;
    text-align:center;
    color:#FFF;
    font-style:italic;
    font-size:20px;
    }
#cover p a {
    color: #FFF;
}


.slide {
    color: #666;
}

h1,h2,h3,h4,h5,h6{font-weight:normal;line-height:1em;}
h4,h5,h6{ font-weight: bold; }
h1{ font-size:2.5em; }
h2{padding-bottom: 5px; border-bottom:1px solid silver;  font-size:2em; }
h3{ font-size:1.5em; }
h4{ font-size:1.2em; }
h5{ font-size:1em; }
h6{ font-size:0.9em; }



/*Override list display property*/
@media screen {
    .shower.list{
        display: block;
        position: relative;
    }
    .shower.list .slide a {
        pointer-events: auto;
    }
}

#preview {
    position: fixed;
    z-index: 99;

    display: none;

    width: 100%;
    height: 100%;

    text-align: center;

    color: white;
    border-radius: 5px;
    background-color: #111;
}
