.container{
    margin-top: 30px;
}

.mardown-input, .html-output{
    width: 100%;
    min-height: 500px;
    height: auto;
    padding: 20px;
    color: #666;
}

.mardown-input{

}

.html-output{
    border: solid 1px #ddd;
    background-color: #F5F2F0;
}
